{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
  <div class="flex flex-col items-center justify-center bg-[#FEFDFB] py-12 px-4 sm:px-6 lg:px-8">
    <div class="w-full max-w-md">
      <div class="text-center mb-10">
        <h2 class="text-4xl font-playfair text-gray-900">Réinitialiser le mot de passe</h2>
        <p class="mt-2 text-gray-600">Veuillez choisir un nouveau mot de passe</p>
      </div>

      {% for flash_error in app.flashes('error') %}
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4" role="alert">
          <span class="block sm:inline">{{ flash_error }}</span>
        </div>
      {% endfor %}

      <div class="bg-white shadow-lg rounded-lg p-8 border border-gray-100">
        {{ form_start(resetForm, {'attr': {'class': 'space-y-6'}}) }}
        <div>
          <label for="{{ resetForm.plainPassword.first.vars.id }}" class="block text-sm font-medium text-gray-700">
            Nouveau mot de passe
          </label>

          <div class="mt-1">
            {{ form_widget(resetForm.plainPassword.first, {
              'attr': {
                'class': 'w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-[#EDA239] focus:border-[#EDA239]',
                'placeholder': 'Entrez votre nouveau mot de passe'
              }
            }) }}

            <p class="mt-1 text-xs text-gray-500">
              Le mot de passe doit contenir au moins 8 caractères avec au moins une lettre majuscule, une lettre minuscule, un chiffre et un caractère spécial.
            </p>
          </div>
        </div>

        <div>
          <label for="{{ resetForm.plainPassword.second.vars.id }}" class="block text-sm font-medium text-gray-700">
            Confirmer le mot de passe
          </label>

          <div class="mt-1">
            {{ form_widget(resetForm.plainPassword.second, {
              'attr': {
                'class': 'w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-[#EDA239] focus:border-[#EDA239]',
                'placeholder': 'Confirmez votre nouveau mot de passe'
              }
            }) }}
          </div>
        </div>

        <div class="text-red-500 text-xs mt-1">
          {{ form_errors(resetForm.plainPassword) }}
        </div>

        <div>
          <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-black bg-[#EDA239] hover:bg-[#EFAF7D] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#EDA239]">
            Réinitialiser le mot de passe
          </button>
        </div>
        {{ form_end(resetForm) }}
      </div>
    </div>
  </div>
{% endblock %}