{% extends 'base.html.twig' %}

{% block body %}
  <div class="w-full relative">
    <img 
      src="{{ asset('images/header-background.jpg') }}" 
      alt="Header Background" 
      class="w-full h-auto object-cover min-h-64 max-h-screen" 
    />
    
    <div class="absolute top-0 left-0 w-full h-full flex flex-col items-center justify-center bg-black/30">
      <h1 class="text-5xl text-[#FEFDFB] font-semibold text-center font-playfair">Savourez l'Excellence Artisanale</h1>
      <p class="text-lg text-[#FEFDFB] mt-1 text-center">Des pains et pâtisseries artisanaux livrés directement chez vous</p>

      <div class="mt-4">
        {{ component('button', {
            label: 'Découvrir nos produits',
            variant: 'primary',
            href: '/produits'
        }) }}
      </div>
    </div>
  </div>

  {# ------------------------------------------------ #}

  <div class="w-full py-24">
    <h1 class="text-5xl text-center font-playfair">Pourquoi nous choisir</h1>
    <p class="text-lg mt-1 text-center">Nous combinons tradition et innovation pour vous offrir une expérience gustative exceptionnelle</p>

    <div class="mt-8 flex flex-wrap justify-center gap-2 md:gap-4">
      {{ component('card', {
        label: 'Qualité Artisanale',
        description: 'Tous nos produits sont préparés à la main avec des ingrédients soigneusement sélectionnés.',
        icon: 'star',
        variant: 'big'
      }) }}
        
      {{ component('card', {
        label: 'Livraison à Domicile',
        description: 'Profitez de nos délices livrés directement chez vous, frais et à l\'heure.',
        icon: 'truck',
        variant: 'big'
      }) }}

      {{ component('card', {
        label: 'Fraîcheur Garantie',
        description: 'Nos produits sont préparés quotidiennement pour garantir une fraîcheur incomparable.',
        icon: 'clock',
        variant: 'big'
      }) }}
    </div>
  </div>

  {# ------------------------------------------------ #}

  <div class="w-full py-24 bg-[#FFFFFF]">
    <h1 class="text-5xl text-center font-playfair">Nos Produits Populaires</h1>
    <p class="text-lg mt-1 text-center">Découvrez nos créations les plus appréciées par nos clients</p>

    <div class="mt-8 flex flex-wrap justify-center gap-2 md:gap-4">      
      <twig:ProductCard
        imageUrl="https://boulangerie.gaetanhus.fr/products/f9878fc8-a103-49b4-9e2b-1ef3f1757b98.webp"
        price="1.10"
        category="Pains"
        name="La Mie Dorée"
        description="Pain artisanal à croûte dorée et craquante. Mie aérée et moelleuse aux notes de céréales. Fermentation lente pour un goût authentique. Parfait pour tous vos repas."
      />
    </div>
  </div>
{% endblock %}